<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{.T}}</title>
	</head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<body>
		<h1>{{.T}}</h1>
    <div> This page give you all the metrics of the system</div>
<div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>name</th><th>value</th>
      </tr>
      {{ range $key, $value := .C }}
      <tr>
        <td><strong>{{ $key }}</td>
        <td>{{ $value }}</td>
      </tr>
{{ end }}
    </table>
  </div>
	</body>
</html>
